<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366507343782-e4dt4od3nppj9732gq4kj4fdveflajnv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366507343782-e4dt4od3nppj9732gq4kj4fdveflajnv</string>
	<key>API_KEY</key>
	<string>AIzaSyCjoQxXa0-WIvNUOrFGQDqlFevqZ90AkHM</string>
	<key>GCM_SENDER_ID</key>
	<string>366507343782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-prac2</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-prac2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366507343782:ios:f5418713744dd9c7e55967</string>
</dict>
</plist>